<nav class="bg-gray-800">
  <ul class="mx-auto max-w-7xl p-4 px-2 sm:px-6 lg:px-8 pt-25px flex justify-end">
    <li><a routerLink="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white ">Home</a></li>
    <li><a routerLink="/counter" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Counter</a></li>
    <li><a routerLink="/series" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Series</a></li>
    <li><a routerLink="/librairie" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Librairie</a></li>
    <li><a routerLink="/pokemon" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Mes Pokemons</a></li>
    <li><a routerLink="/pokedex" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Le pokedex</a></li>
  </ul>
</nav>
